In [1]:
import pandas as pd 

print(pd.__version__)

2.1.3

In [2]:
data = pd.read_csv('data.csv')
data

,Unnamed: 0,Age,Accessibility,EdLevel,Employment,Gender,MentalHealth,MainBranch,YearsCode,YearsCodePro,Country,PreviousSalary,HaveWorkedWith,ComputerSkills,Employed
0,0,<35,No,Master,1,Man,No,Dev,7,4,Sweden,51552.0,C++;Python;Git;PostgreSQL,4,0
1,1,<35,No,Undergraduate,1,Man,No,Dev,12,5,Spain,46482.0,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...,12,1
2,2,<35,No,Master,1,Man,No,Dev,15,6,Germany,77290.0,C;C++;Java;Perl;Ruby;Git;Ruby on Rails,7,0
3,3,<35,No,Undergraduate,1,Man,No,Dev,9,6,Canada,46135.0,Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...,13,0
4,4,>35,No,PhD,0,Man,No,NotDev,40,30,Singapore,160932.0,C++;Python,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73457,73457,<35,No,Undergraduate,1,Man,No,Dev,7,2,Germany,41058.0,C#;HTML/CSS;JavaScript;TypeScript;Docker;Kuber...,13,1
73458,73458,>35,No,Undergraduate,1,Man,No,Dev,21,16,United States of America,115000.0,C#;HTML/CSS;Java;JavaScript;npm;ASP.NET Core ;...,11,1
73459,73459,<35,No,Undergraduate,1,Man,No,Dev,4,3,Nigeria,57720.0,HTML/CSS;JavaScript;TypeScript;Docker;Express;...,12,1
73460,73460,<35,Yes,Undergraduate,1,Man,Yes,Dev,5,1,United States of America,70000.0,C#;HTML/CSS;JavaScript;SQL;TypeScript;npm;Yarn...,15,1
73461,73461,<35,No,Master,1,NonBinary,No,Dev,10,3,United Kingdom of Great Britain and Northern I...,75384.0,Python;Docker,2,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73462 entries, 0 to 73461
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      73462 non-null  int64
 1   Age             73462 non-null  object
 2   Accessibility   73462 non-null  object
 3   EdLevel         73462 non-null  object
 4   Employment      73462 non-null  int64
 5   Gender          73462 non-null  object
 6   MentalHealth    73462 non-null  object
 7   MainBranch      73462 non-null  object
 8   YearsCode       73462 non-null  int64
 9   YearsCodePro    73462 non-null  int64
 10  Country         73462 non-null  object
 11  PreviousSalary  73462 non-null  float64
 12  HaveWorkedWith  73399 non-null  object
 13  ComputerSkills  73462 non-null  int64
 14  Employed        73462 non-null  int64
dtypes: float64(1), int64(6), object(8)
memory usage: 8.4+ MB

In [4]:
unique_values = data.apply(lambda col: col.unique())

for column in unique_values.index:
    print(f"Unique values in column '{column}': {unique_values[column]}")

Unique values in column 'Unnamed: 0': [    0     1     2 ... 73459 73460 73461]
Unique values in column 'Age': ['<35' '>35']
Unique values in column 'Accessibility': ['No' 'Yes']
Unique values in column 'EdLevel': ['Master' 'Undergraduate' 'PhD' 'Other' 'NoHigherEd']
Unique values in column 'Employment': [1 0]
Unique values in column 'Gender': ['Man' 'Woman' 'NonBinary']
Unique values in column 'MentalHealth': ['No' 'Yes']
Unique values in column 'MainBranch': ['Dev' 'NotDev']
Unique values in column 'YearsCode': [ 7 12 15  9 40 26 14 39 20  4  6 19  8 22 34 21  5 25 24 10 31 18 38 13
  3 17 27  1 30  2 41 42 16 35 23 28 37 44 11 36 45 50 33 43 29 32 47 48
  0 46 49]
Unique values in column 'YearsCodePro': [ 4  5  6 30  2 18 21 16 10  0  3 15  1 12  8  7 17 14 26 25 34 11 24 22
 13  9 20 31 23 39 27 19 35 33 50 37 43 40 29 38 32 42 28 36 44 47 45 41
 49 48 46]
Unique values in column 'Country': ['Sweden' 'Spain' 'Germany' 'Canada' 'Singapore' 'France' 'Switzerland'
 'United Kingdom of Great Britain and Northern Ireland'
 'Russian Federation' 'Israel' 'Turkey' 'United States of America'
 'Brazil' 'Bulgaria' 'Greece' 'Italy' 'Netherlands' 'Poland' 'Hungary'
 'Pakistan' 'Nigeria' 'Albania' 'Bangladesh' 'Viet Nam' 'Romania'
 'Sri Lanka' 'India' 'Lithuania' 'Ukraine' 'Croatia' 'Georgia' 'Denmark'
 'Ireland' 'Lebanon' 'Bahrain' 'Egypt' 'Colombia' 'Australia' 'Chile'
 'Indonesia' 'Iran, Islamic Republic of...' 'Portugal' 'Slovakia'
 'Armenia' 'Finland' 'Hong Kong (S.A.R.)' 'Argentina' 'Costa Rica' 'Peru'
 'Japan' 'Belgium' 'United Arab Emirates' 'Bolivia' 'Austria'
 'South Africa' 'Norway' 'Serbia' 'Malta' 'Malaysia' 'Czech Republic'
 'Belarus' 'Madagascar' 'Kenya' 'Slovenia' 'Uruguay'
 'The former Yugoslav Republic of Macedonia' 'Botswana' 'Algeria' 'China'
 'Mexico' 'Cyprus' 'Venezuela, Bolivarian Republic of...' 'Jordan'
 'Dominican Republic' 'Ecuador' 'Luxembourg' 'Uzbekistan'
 'Syrian Arab Republic' 'Zambia' 'Taiwan' 'Tunisia' 'South Korea'
 'Paraguay' 'Iceland' 'Morocco' 'Guatemala' 'Cameroon'
 'Republic of Moldova' 'Nepal' 'Kazakhstan' 'Estonia' 'Ethiopia' 'Cuba'
 'Latvia' "Lao People's Democratic Republic" 'Yemen'
 'Democratic Republic of the Congo' 'Somalia' 'Philippines' 'Azerbaijan'
 'Saudi Arabia' 'Honduras' 'Angola' 'Thailand' 'Bosnia and Herzegovina'
 'United Republic of Tanzania' 'El Salvador' 'Iraq' 'Kosovo' 'Andorra'
 'New Zealand' 'Dominica' 'Nicaragua' 'Mozambique' 'Trinidad and Tobago'
 'Nomadic' 'Panama' 'Barbados' 'Mauritius' 'Kuwait' 'Ghana'
 'Congo, Republic of the...' 'Myanmar' 'Republic of Korea' 'Cambodia'
 'Kyrgyzstan' 'Afghanistan' 'Uganda' 'Swaziland' 'Saint Kitts and Nevis'
 'Rwanda' 'Monaco' 'Turkmenistan' 'Libyan Arab Jamahiriya' 'Sudan'
 'Montenegro' 'Haiti' 'Belize' 'Benin' 'Bhutan' 'Palestine' 'Tajikistan'
 'Isle of Man' 'Cape Verde' 'Oman' "CÃ´te d'Ivoire" 'Zimbabwe' 'Jamaica'
 'Guyana' 'Namibia' 'Togo' 'Lesotho' 'Guinea' 'Senegal' 'Mongolia'
 'Liberia' 'Suriname' 'Niger' 'Maldives' 'Qatar' 'Saint Lucia' 'Djibouti'
 'Malawi' 'Saint Vincent and the Grenadines' 'Gambia' 'Burkina Faso'
 'Fiji' 'Mauritania' 'Burundi' 'Timor-Leste' 'Mali' 'Seychelles']
Unique values in column 'PreviousSalary': [ 51552.  46482.  77290. ...  35619.  43324. 110245.]
Unique values in column 'HaveWorkedWith': ['C++;Python;Git;PostgreSQL'
 'Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;TypeScript;Git;Express;React.js;Vue.js;AWS;PostgreSQL'
 'C;C++;Java;Perl;Ruby;Git;Ruby on Rails' ...
 'C#;HTML/CSS;Java;JavaScript;npm;ASP.NET Core ;AWS;DigitalOcean;Managed Hosting;MySQL;PostgreSQL'
 'HTML/CSS;JavaScript;TypeScript;Docker;Express;Node.js;React.js;AWS;Firebase;Heroku;MongoDB;PostgreSQL'
 'C#;HTML/CSS;JavaScript;SQL;TypeScript;npm;Yarn;Angular;ASP.NET;jQuery;React.js;AWS;DynamoDB;Microsoft SQL Server;SQLite']
Unique values in column 'ComputerSkills': [  4  12   7  13   2   5  17   3   6  18  16  25  14  39   8  24  21  10
  11  33  26  19  23  20  28  22  15   1   9  32  29  30  36  27  53  43
  31  40   0  41  38  44  35  42  34  37  78  51  47  63  50  49  62  48
  52  54  45  55  46  68  91  61  57  90  58  65 105  67  56  79  64 101
 107]
Unique values in column 'Employed': [0 1]

In [5]:
data.isna().sum()

Unnamed: 0         0
Age                0
Accessibility      0
EdLevel            0
Employment         0
Gender             0
MentalHealth       0
MainBranch         0
YearsCode          0
YearsCodePro       0
Country            0
PreviousSalary     0
HaveWorkedWith    63
ComputerSkills     0
Employed           0
dtype: int64

In [6]:
data.dropna(inplace=True)

data.isna().sum()

Unnamed: 0        0
Age               0
Accessibility     0
EdLevel           0
Employment        0
Gender            0
MentalHealth      0
MainBranch        0
YearsCode         0
YearsCodePro      0
Country           0
PreviousSalary    0
HaveWorkedWith    0
ComputerSkills    0
Employed          0
dtype: int64

In [7]:
X = data.drop(['Age', 'MainBranch', 'Employed','Unnamed: 0', 'Accessibility', 'Gender', 'MentalHealth', 'PreviousSalary', 'Employment'],axis=1)
y = data['Employed']

In [8]:
X['YearsCode'] = X[['YearsCode', 'YearsCodePro']].max(axis=1)
X = X.drop(['YearsCodePro'], axis=1)
X

,EdLevel,YearsCode,Country,HaveWorkedWith,ComputerSkills
0,Master,7,Sweden,C++;Python;Git;PostgreSQL,4
1,Undergraduate,12,Spain,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...,12
2,Master,15,Germany,C;C++;Java;Perl;Ruby;Git;Ruby on Rails,7
3,Undergraduate,9,Canada,Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...,13
4,PhD,40,Singapore,C++;Python,2
...,...,...,...,...,...
73457,Undergraduate,7,Germany,C#;HTML/CSS;JavaScript;TypeScript;Docker;Kuber...,13
73458,Undergraduate,21,United States of America,C#;HTML/CSS;Java;JavaScript;npm;ASP.NET Core ;...,11
73459,Undergraduate,4,Nigeria,HTML/CSS;JavaScript;TypeScript;Docker;Express;...,12
73460,Undergraduate,5,United States of America,C#;HTML/CSS;JavaScript;SQL;TypeScript;npm;Yarn...,15
73461,Master,10,United Kingdom of Great Britain and Northern I...,Python;Docker,2

In [9]:
target_counts = data['Employed'].value_counts()
print(target_counts)

Employed
1    39392
0    34007
Name: count, dtype: int64

In [10]:
import matplotlib.pyplot as plt

domisili_counts = data['Country'].value_counts()
print(domisili_counts)

# plt.figure(figsize=(10, 6))
# domisili_counts.plot(kind='bar')
# plt.title('Banyaknya Data Berdasarkan Domisili')
# plt.xlabel('Domisili')
# plt.ylabel('Jumlah')
# plt.xticks(rotation=0)
# plt.show()

Country
United States of America                                14689
Germany                                                  5392
India                                                    5350
United Kingdom of Great Britain and Northern Ireland     4684
Canada                                                   2777
                                                        ...
Mauritania                                                  1
Burundi                                                     1
Saint Kitts and Nevis                                       1
Monaco                                                      1
Seychelles                                                  1
Name: count, Length: 172, dtype: int64

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import FunctionTransformer
import numpy as np

categorical_cols = ['EdLevel', 'Country']
text_col = 'HaveWorkedWith'

vectorizer = TfidfVectorizer(stop_words='english', lowercase=True)
one_hot_encoder = OneHotEncoder(handle_unknown='ignore')

transformer = ColumnTransformer(
    transformers=[
        ('vectorizer', vectorizer, text_col),
        ('encoder', one_hot_encoder, categorical_cols)
    ]
)

print(transformer)

# Random Forest Classifier
pipeline_rf = Pipeline(steps=[
    ('transformer', transformer),
    ('classifier', RandomForestClassifier(n_estimators=100, max_depth=10, random_state=42))
])

# Decision Tree Classifier
pipeline_dt = Pipeline(steps=[
    ('transformer', transformer),
    ('classifier', DecisionTreeClassifier(random_state=42))
])

# Naive Bayes Classifier
to_dense = FunctionTransformer(lambda x: x.toarray(), accept_sparse=True)
pipeline_nb = Pipeline(steps=[
    ('transformer', transformer),
    ('to_dense', to_dense),
    ('classifier', MultinomialNB())
])

ColumnTransformer(transformers=[('vectorizer',
                                 TfidfVectorizer(stop_words='english'),
                                 'HaveWorkedWith'),
                                ('encoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 ['EdLevel', 'Country'])])

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Random Forest
pipeline_rf.fit(X_train, y_train)
y_pred_rf = pipeline_rf.predict(X_test)
print("Random Forest Classifier:")
print(classification_report(y_test, y_pred_rf))

# Decision Tree
pipeline_dt.fit(X_train, y_train)
y_pred_dt = pipeline_dt.predict(X_test)
print("Decision Tree Classifier:")
print(classification_report(y_test, y_pred_dt))

# Naive Bayes
pipeline_nb.fit(X_train, y_train)
y_pred_nb = pipeline_nb.predict(X_test)
print("Naive Bayes Classifier:")
print(classification_report(y_test, y_pred_nb))

Random Forest Classifier:
              precision    recall  f1-score   support

           0       0.91      0.88      0.90      6817
           1       0.90      0.92      0.91      7863

    accuracy                           0.91     14680
   macro avg       0.91      0.90      0.90     14680
weighted avg       0.91      0.91      0.91     14680

Decision Tree Classifier:
              precision    recall  f1-score   support

           0       0.96      0.96      0.96      6817
           1       0.97      0.97      0.97      7863

    accuracy                           0.96     14680
   macro avg       0.96      0.96      0.96     14680
weighted avg       0.96      0.96      0.96     14680

Naive Bayes Classifier:
              precision    recall  f1-score   support

           0       0.77      0.67      0.72      6817
           1       0.74      0.83      0.78      7863

    accuracy                           0.75     14680
   macro avg       0.76      0.75      0.75     14680
weighted avg       0.76      0.75      0.75     14680

In [13]:
import pandas as pd

# Assuming X and y are defined earlier and the pipelines are trained

# New data point
new_data = {
    # 'Age': ['>35'],
    'EdLevel': ['Master'],
    # 'MainBranch': ['Dev'],
    'YearsCode': [20],
    'Country': ['United States of America'],
    'HaveWorkedWith': ['IT Security Policies & Procedures;ISO 27000;Supplier Evaluation;Management;Information Security;HITRUST;FedRAMP;Security;Computer Security;Cyber-security;Cloud Computing;NIST 800-53;NIST 800-171;ISO 27001;PCI DSS;HIPAA;ITIL;Enterprise Risk Management;Disaster Recovery;Information Security Management;IT Audit;Vendor Management;CISSP;Leadership;Information Technology;Enterprise Software;Vulnerability Management;Vulnerability Assessment;Business Continuity;Network Security;Integration;VMware;Identity Management;Application Security;Process Improvement;Penetration Testing;Program Management;Security Awareness;Business Continuity Planning;Governance;Sarbanes-Oxley Act;Incident Management;IT Service Management;IT Strategy;CISM;Security Management;Data Privacy;Global Management;Security as a Service;Security Audits;Data Security;Cloud Security;Strategy;Infrastructure'],
    'ComputerSkills': [54]
}

new_data_df = pd.DataFrame(new_data)

# Ensure any necessary preprocessing
new_data_df['YearsCode'] = new_data_df['YearsCode'].astype(int)
# new_data_df['PreviousSalary'] = new_data_df['PreviousSalary'].astype(float)

print("Data A")

print("")

# Predict using the Random Forest model
rf_prediction = pipeline_rf.predict(new_data_df)
print("Random Forest Classifier Prediction:", rf_prediction)

# Predict using the Decision Tree model
dt_prediction = pipeline_dt.predict(new_data_df)
print("Decision Tree Classifier Prediction:", dt_prediction)

# Predict using the Naive Bayes model
nb_prediction = pipeline_nb.predict(new_data_df)
print("Naive Bayes Classifier Prediction:", nb_prediction)

Data A

Random Forest Classifier Prediction: [0]
Decision Tree Classifier Prediction: [0]
Naive Bayes Classifier Prediction: [0]

In [14]:
import pandas as pd

# Assuming X and y are defined earlier and the pipelines are trained

# New data point
new_data = {
    # 'Age': ['<35'],
    'EdLevel': ['Undergraduate'],
    # 'MainBranch': ['NotDev'],
    'YearsCode': [5],
    'Country': ['Indonesia'],
    'HaveWorkedWith': ['Industrial Engineering;Maintenance Staff;PPIC Staff;Laboratory Assistant;Building Information Modeling Officer'],
    'ComputerSkills': [5]
}

new_data_df = pd.DataFrame(new_data)

# Ensure any necessary preprocessing
new_data_df['YearsCode'] = new_data_df['YearsCode'].astype(int)
# new_data_df['PreviousSalary'] = new_data_df['PreviousSalary'].astype(float)

print("Data B")

print("")

# Predict using the Random Forest model
rf_prediction = pipeline_rf.predict(new_data_df)
print("Random Forest Classifier Prediction:", rf_prediction)

# Predict using the Decision Tree model
dt_prediction = pipeline_dt.predict(new_data_df)
print("Decision Tree Classifier Prediction:", dt_prediction)

# Predict using the Naive Bayes model
nb_prediction = pipeline_nb.predict(new_data_df)
print("Naive Bayes Classifier Prediction:", nb_prediction)

Data B

Random Forest Classifier Prediction: [0]
Decision Tree Classifier Prediction: [0]
Naive Bayes Classifier Prediction: [0]

In [15]:
import pandas as pd

# Assuming X and y are defined earlier and the pipelines are trained

# New data point
new_data = {
    # 'Age': ['>35'],
    'EdLevel': ['Phd'],
    # 'MainBranch': ['Dev'],
    'YearsCode': [67],
    'Country': ['United States of America'],
    'HaveWorkedWith': ['Information Security Management;Computer Security;Risk Management;Security;Security Management;Business Continuity;Risk Assessment;Physical Security;Information Security;Security Audits;Security Operations;Crisis Management;Program Management;Business Strategy;Corporate Security;Vulnerability Assessment;Project Management;Strategy;Enterprise Risk Management;Operations Management;Vendor Management;ISO 27001;Access Control;Emergency Management;Business Analysis;Business Management;Counterintelligence;Network Security;Disaster Recovery;Information Technology;IT Strategy;Cloud Computing;Regulatory Compliance;Leadership;Strategic Leadership;Organizational Development;Management;Team Leadership;Problem Solving;Communication;Security Awareness;Business Continuity Planning;CISM;CISA;Data Privacy;Cloud Security;Threat & Vulnerability Management;ITIL;IT Governance;IT Audit'],
    'ComputerSkills': [50]
}

new_data_df = pd.DataFrame(new_data)

# Ensure any necessary preprocessing
new_data_df['YearsCode'] = new_data_df['YearsCode'].astype(int)
# new_data_df['PreviousSalary'] = new_data_df['PreviousSalary'].astype(float)

print("Data C")

print("")

# Predict using the Random Forest model
rf_prediction = pipeline_rf.predict(new_data_df)
print("Random Forest Classifier Prediction:", rf_prediction)

# Predict using the Decision Tree model
dt_prediction = pipeline_dt.predict(new_data_df)
print("Decision Tree Classifier Prediction:", dt_prediction)

# Predict using the Naive Bayes model
nb_prediction = pipeline_nb.predict(new_data_df)
print("Naive Bayes Classifier Prediction:", nb_prediction)

Data C

Random Forest Classifier Prediction: [0]
Decision Tree Classifier Prediction: [0]
Naive Bayes Classifier Prediction: [0]

In [16]:
import pandas as pd

# Assuming X and y are defined earlier and the pipelines are trained

# New data point
new_data = {
    # 'Age': ['>35'],
    'EdLevel': ['Undergraduate'],
    # 'MainBranch': ['NotDev'],
    'YearsCode': [67],
    'Country': ['United States of America'],
    'HaveWorkedWith': ['Courier/Data Entry/Billing/Produce Scheduling;Medical Reception;Insurance Coordinator;Medical Billing;Receipt Entry;RTS/Refund/AR Specialist;Revenue Cycle Manager;Revenue Cycle Manager;Quality Assurance Specialist;Medical Coder;Information System Specialist;Operational Specialist'],
    'ComputerSkills': [12]
}

new_data_df = pd.DataFrame(new_data)

# Ensure any necessary preprocessing
new_data_df['YearsCode'] = new_data_df['YearsCode'].astype(int)
# new_data_df['PreviousSalary'] = new_data_df['PreviousSalary'].astype(float)

print("Data D")

print("")

# Predict using the Random Forest model
rf_prediction = pipeline_rf.predict(new_data_df)
print("Random Forest Classifier Prediction:", rf_prediction)

# Predict using the Decision Tree model
dt_prediction = pipeline_dt.predict(new_data_df)
print("Decision Tree Classifier Prediction:", dt_prediction)

# Predict using the Naive Bayes model
nb_prediction = pipeline_nb.predict(new_data_df)
print("Naive Bayes Classifier Prediction:", nb_prediction)

Data D

Random Forest Classifier Prediction: [0]
Decision Tree Classifier Prediction: [0]
Naive Bayes Classifier Prediction: [0]